<div class="row">
  <div class="col-md-5">
<!--    <app-recipes-list (recipeSelected)="showRecipeDetails($event)"></app-recipes-list>-->
  <app-recipes-list></app-recipes-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
<!--     old way -->
<!--    <app-recipes-details-->
<!--      *ngIf="selectedRecipe; else infoText"-->
<!--      [selectedRecipe]="selectedRecipe"></app-recipes-details>-->
<!--    <ng-template #infoText>-->
<!--      <p>Please select a Recipe first</p>-->
<!--    </ng-template>-->
  </div>
</div>
